extends layouts/main
//- main layouts 을 확장해서 사용함, 이제 home 화면이 레이아웃 코드를 복붙 한다는 뜻

include mixins/videoBlock
block content 
    .videos
        //-h1 Video
        each item in videos 
            //- item 는 변수명이고 어떤 이름을 붙여도 괜찮음, video 배열에서 하나씩 template를 적용시키는 것 (iteration)
            //-h1=video.title
            //-p=video.description
            +videoBlock({ 
                title: item.title,
                views: item.views,
                videoFile: item.videoFile
            })
            //- 비디오를 보여주기 전에 템플릿을 테스트할 수 있어
//- html에 p tag 로 나옴

